body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color#FFFFFF;
    font-weight: 400;
    letter-spacing: 0.02em;
    color:434455;
    line-height: 1.5;
}
}
ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.menu-item {
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: var(--navy-blue);
}

.contact-link {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: var(--slate);
}
.button-service {
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: var(--white);
}
.title-third {
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: var(--navy-blue);
}
.text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
text-decoration: underline;
color: var(--slate);
}
.title-second {
font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: var(--navy-blue);
}
.name-member {
font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
text-align: center;
color: var(--navy-blue);
}
.position {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: var(--slate);
}
/* Portfolio */
.title-third-portfolio {
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: var(--navy-blue);
}
.text-of-portfolio {
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: var(--slate);
}
/* Footer */


.text-footer {
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: var(--cloud);
}
.logo-header,
.logo-footer,
.end-logo-footer,
.end-logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.end-logo-footer {
    color: f4f4fd;
}

.end-logo-header {
    color: #2e2f42;
}

.logo-header,
.logo-footer {
    color:4d5ae5;
}